body {
  width: 80%;
  border : 2px solid #3374ff;
  margin: 50px auto auto auto;
  text-align :center;
}

#menu button{
  margin : 25px;
}

#erreur>p{
  display: none;
}

.form {

}

form {
  width:40%;
  margin : 25px auto 25px auto;
  display : flex;
  flex-direction : column;
}

form>div {
  display : flex;
  flex-direction : row;
  justify-content:space-around;
}
